*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-image: url(img/background.jpg);
    background-size: cover;
}

.container{
    width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    color: white
}

header{
    text-align: center;
    color: #00dd00;
}

#logo{
    width: 200px;
    height: auto;
}

nav{
    text-align: center;
    background-color: #00dd00;
    padding: 10px;
    margin:10px 0px;    
   }

button{
    font-size:small;
}

.monopattino-utente{
    margin:20px 0px;
}

.user{
    font-size:large;
}

.location-user{
    font-size: small;
    margin:5px 0px;
}

.location-user .arrow::after{
    content:"\21A6";
}

.bar{
    height: 24px;
    border-radius: 5px;
}

.bar-orange{
    width: 35%;
    background-color: #f5b453;
}

.bar-green{
    width: 65%;
    background-color: #00dd00;
}

.bar-red{
    width: 15%;
    background-color: #be4141;
    }